[submodule ".registry"]
	path = .registry
	url = https://github.com/ecoisilva/ecoisilva.r-universe.dev
	branch = HEAD
[submodule "movedesign"]
	path = movedesign
	url = https://github.com/ecoisilva/movedesign
